<!DOCTYPE html>
<html>
<head>
    {% set symbols = [['u̯', 'i̯', 'm̄', 'ḟ', '·', 'ȩ', '⁊', 'ɫ', 'Ȩ'],
                     ['ṡ', 'ā', 'ē', 'ī', 'ō', 'ū', 'ä', 'ë', 'ï'],
                     ['ö', 'ü', 'ă', 'ĕ', 'ĭ', 'ŏ', 'ŭ', 'æ', 'Æ'],
                     ['ʒ', 'đ', 'ɔ̄', 'φ', 'þ', 'β', '˜', 'χ', 'γ'],
                     ['∅', 'ə', 'ɛ', 'ƀ', 'θ', 'ð', 'ɣ', 'ɸ', 'β']] %}
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <script type="text/javascript">
        function showSymbolsTable(){ 
            $("#symbols_table").slideToggle("fast");
            
        };
        function hideSymbolsTable(){
             $("#symbols_table").slideUp("fast");
        };
        function Toast(msg,duration){
            duration=isNaN(duration)?3000:duration;
            var m = document.createElement('div');
            m.innerHTML = msg;
            m.style.cssText="opacity:0.7;height: 50px;color: rgb(255, 255, 255);line-height: 50px;text-align: center;border-radius: 5px;position: fixed;left:20%; right:20%; top:50%; bottom:50%;z-index: 1000;background: rgb(0, 0, 0);font-size: 20px;";
            document.body.appendChild(m);
            setTimeout(function() {
                var d = 0.5;
                m.style.webkitTransition = '-webkit-transform ' + d + 's ease-in, opacity ' + d + 's ease-in';
                m.style.opacity = '0';
                setTimeout(function() { document.body.removeChild(m) }, d * 1000);
            }, duration);
        };

        function user_logout(){
            $.post("/logout/",{},function(data){
                window.location.href='/';
            });
            
        };
        function copyToClipboard(symbol){
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(symbol).select();
            var result=document.execCommand("copy");
            if(result){
                Toast(symbol+' has been copied to clipboard',1000);
            }
            else{
                alert("your browser doesn't support javascript, please use Chrome");
            }
            $temp.remove();
        };
    </script>
    {% block head %}
   
    {% endblock %}
    
</head>
{% block body %}
<body>
    {% block symbol %}
    <div id="symbols_table" style="display: none;" >
    <font color="#FFFFFF">
    <table border="1" align="center" style="background:#000033;">
        <style type="text/css">
            .symbol_td:hover{
                background-color: #330000;
            }
        </style>
    {% for sc in symbols%}
      <tr >
        {% for s in sc%}
        <td class='symbol_td' align="center" onclick="copyToClipboard('{{s}}')" width="30" height="30" style="cursor: pointer;">{{s|string}}</td>
        {%endfor%}
      </tr>
    {%endfor%}
    </table>
    </font>
    </div>
    {% endblock %}
</body>
{% endblock %}
</html>